body {
  margin: 5vh 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  font-family: 'Bigelow Rules', serif;
  background: url(images/papiro_bg_gg.jpg) no-repeat center center fixed;
  background-size: cover;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-logo {
  height: 70px;
  margin-bottom: 25px;
}

.title {
  margin: 0;
  font-size: 42px;
}

.radio-area {
  display: flex;
  gap: 70px;
  margin: 20px 0;
}

.label-nonActive {
  text-align: center;
  font-size: 30px;
  color: rgb(44, 44, 44);
  cursor: pointer;
}

.label-active {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: #dfa221;
  cursor: pointer;
}

.radio-img {
  height: 40px;
  display: block;
  margin: 5px auto 0 auto;
}

.radio-input {
  display: none;
} 

label[for="selectCharacter"] {
  font-size: 36px;
  font-weight: bold;
}

.select {
  font-family: 'Bigelow Rules', serif;
  font-size: 30px;
  margin: 0 0 20px 15px;
  padding: 2px 5px;
  width: 385px;
  border: none;
  background-color: rgba(183, 156, 109, 0.3);
  cursor: pointer;
  transition: opacity 0.15s;
}

.select:hover {
  opacity: 0.8;
}

.option {
  font-family: 'Bigelow Rules', serif;
}

.submit-button {
  font-family: 'Bigelow Rules', serif;
  font-size: 28px;
  border: none;
  padding: 3px 230px;
  background-color: rgba(183, 156, 109, 0.5);
  cursor: pointer;
  transition: opacity 0.15s, font-weight 0.15s;
}

.submit-button:hover {
  opacity: 0.8;
  font-weight: bold;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  width: 320px;
  height: 400px;
  padding: 0;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

h2 {
  margin: 5px 0 0 0;
}

.char-img {
  height: 200px;
}